<div class="titleset all">
  <i class="icon calendar"></i>
  <h3>My Reservations</h3>
</div>

<% a = Payment.find_all_by_user_id(current_user.id) %>

<% if a.size == 0 %>

<p class="align-center">No reservations! We should change that.</p>

<%else%>

<ul>
  <% payment.each do |payment| %>
  <% if payment.user_id == current_user.id %>
  <% if payment.reservation_date >= Date.today.to_s %>
  <% r=payment.table_id %>
  <% n=Table.find(r).nightclub_id %>
  <li>
    <a class="share" href="https://www.facebook.com/share.php?u=socialaxisapp.com" title="Share your reservation on Facebook"><i class="icon facebook"><span>Share</span></i></a>
    <h3><%= Nightclub.find(n).name %> (<%= link_to 'Edit', edit_payment_path(payment) %>)</h3>
    <p><%= payment.reservation_date.strftime("%a %d %b")   %></p>
  </li>
  <%end%>
  <%end%>
  <%end%>
</ul>

<p class="align-center l720"><a href="#" class="forward">Book another table</a></p>
<%end%>
