<ul class="card-list">
  <% for nightclub in nightclub %>
  <li class="card">
    <div class="card-inner">
      <%=link_to image_tag(nightclub.image.url (:medium)), nightclub %>
      <h2><%= nightclub.name %></h2>
      <p class="concealed"><%= nightclub.description %></p>

      <%= link_to 'Make a reservation', nightclub, class: "forward reservation highlight" %>
    </div>
  </li>
  <% end %>
</ul>
