<div class="jumbotron">

<div class="page-header">
<h2> What is Social Axis? </h2>
</div>

<p>Social Axis connects you to the most exclusive nightclubs in your city, while rewarding you for being socially connected</p>
</br>

<h3> How does it work? </h3>

<p>By giving you control. Social Axis lets you book the table you want, while telling the owners how awesome you are and giving you an exclusive hookup. </p>
</br>

<h3> Huh? I can get a hookup? How? </h3>

<p> Simply put, Social Axis leverages your social network to get exclusive hookups from your favorite clubs. Every picture, follower, or check-in gives them exposure and Social Axis rewards you for that. </p>
</br>

<h3> Wait?! What can they see? </h3>

<p>Nothing really. Social Axis shares the size of your social influence. Clubs cannot see pictures or status update, but they will know how just how cool you are. </p>
</br>

<h3> So I can get into the coolest clubs at a discount? </h3>

<p> Not only get. You get in, in style. </p>

</div>