<div id="slider" class="slider slick-slider">

  <% Nightclub.connection %>

  <button id="slider-prev" class="slick-prev" type="button"><i class="icon back">&lt;<span></span></i></button>
  <button id="slider-next" class="slick-next" type="button"><i class="icon next">&gt;<span></span></i></button>

  <div><img src="/assets/Rave.jpg" alt="" /></div>
  <div><img src="/assets/tables.jpg" alt="" /></div>
  <div><img src="/assets/club.jpg" alt="" /></div>
</div>
