<div class="jumbotron center">
<h1>Clublist</h1>
<p>Welcome to Clublist -  Own Your Night</p>
<% if user_signed_in? %>
          <h4> Let's Book you a table </h4>

          <%= render :partial=>'show_nightclubs', :locals=> {:nightclub => Nightclub.find(:all)} %>
     <% else %>

h4>At Greenbook we're revolutionizing how you purchase text books.
	Click here and save </h4>
</br>
	<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary center" %> 
	<%= link_to "Log in", new_user_session_path , class: "btn btn-default center" %>
     <% end %>

</div>