<div class =" jumbotron">

<h1>Privacy Policy</h1>

<h4>Last Updated: July 1, 2014</h4>

This Privacy Policy explains how information about you is collected, used and disclosed by Social Axis, LLC. and our subsidiaries (collectively, "Social Axis") when you use our websites, mobile websites, mobile applications and other online products and services (collectively, the "Services") or when you otherwise interact with us.

We may change this Privacy Policy from time to time. If we make changes, we will notify you by revising the date at the top of the policy and, in some cases, we may provide you with additional notice (such as adding a statement to our websites' homepages or sending you a notification). We encourage you to review the Privacy Policy whenever you access the Services to stay informed about our information practices and the ways you can help protect your privacy.

<h3>Collection of Information</h3>

<h4>Information You Provide to Us</h4>

We collect information you provide directly to us, and through the allowed permissions on facebook. For example, we collect your email, location, name, and friend count through the facebook login, and use this information for calculating "hookups" on Social Axis. In addition reservation count and infortmation are also stored to be used to show your social value to clubs. The actually reservation information is never shared, just used to calculate your status. 

<h4>Information We Collect Automatically When You Use the Services</h4>

When you access or use our Services, we automatically collect information about you, including:

Reservation Information: When you make a reservation via our Services, we collect information about the reservation, including the time, date, party size, hookup amount, nightclub,what table and cost. 

Log Information: We log information about your use of our websites, including your browser type and language, access times, pages viewed, your IP address and the website you visited before navigating to our websites.

We may also obtain information from other sources and combine that with information we collect through our Services.

<h3>Use of Information</h3>

We may use information about you for various purposes, including to:

Provide, maintain and improve our Services, including to provide additional features and content for your messages;
Provide and deliver the products and services you request, process transactions and send you related information;
Respond to your comments, questions and requests and provide customer service;
Send you technical notices, updates, security alerts and support and administrative messages;
Communicate with you about products, services, offers, promotions, rewards, and events offered by Social Axis and others, and provide news and information we think will be of interest to you;
Monitor and analyze trends, usage and activities in connection with our Services;
Personalize and improve the Services and provide advertisements, content or features that match user profiles or interests;
Link or combine with information we get from others to help understand your needs and provide you with better service;
Detect, investigate and/or prevent fraudulent, unauthorized or illegal activity; and
Carry out any other purpose for which the information was collected.
Social Axis is based in the United States and the information we collect is governed by U.S. law. By accessing or using the Services or otherwise providing information to us, you consent to the processing and transfer of information in and to the U.S. and other countries.

<h3> Sharing of Information </h3>

We do not share any of your information with any outside party. The information is only used to calculate your status, which is used to determine "hookup" value.


<h3> Security </h3>

We take reasonable measures to help protect information about you from loss, theft, misuse and unauthorized access, disclosure, alteration and destruction.


Contact

To contact us, please visit <h1><i>put website</i></h1> or write to:

</div>