<div class="container">
  <div class="group two-three">
    <div class="card club">
      <div class="card-inner">
        <% Nightclub.connection %>
        <h1><%=Nightclub.find(@reservation.nightclub_id).name%></h1>

        <%= render :partial=>'edit_reservation', :locals=> {:reservation => Reservation.new(:table_id=> @reservation.id, :amount=> @reservation.amount, :nightclub_id=> @reservation.nightclub_id) } %>
      </div>
    </div>
  </div>
</div>
