<div class="container">
  <div class="group two-three">
    <div class="card club">
      <div class="card-inner">
        <% Nightclub.connection %>
        <h1><%=Nightclub.find(@reservation.nightclub_id).name%></h1>

        <%= render :partial=>'new_reservation' , locals: {reservation: @reservation}  %>

      </div>
    </div>
  </div>
</div>
