/**
 * Buttons
 */

.no-opacity button .icon span {
  display: none;
}

.no-opacity button:hover .icon span {
  display: block;
}

.button,
button {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 0.7777778em 1.111111em;
  border: $primaryHighlight solid 2px;
  color: white;
  font-family: $Lato;
  font-size: 16px;
  font-weight: 700;
  background-color: transparent;
  @include prefixed(transition-duration, .25s);
  @include prefixed(transition-properties, "background-color, color");

  .next:after,
  .back:before {
    content: none;
  }

  &:hover {
    background-color: $primaryHighlight;
    color: white;
  }

  // Button with Facebook Icon
  &.facebook {
    background: $facebookHighlight;
    border: $facebookHighlight solid 2px;

    &:before {
      content: "";
      display: inline-block;
      *display: inline;
      zoom: 1;
      vertical-align: middle;
      width: 25px;
      height: 25px;
      margin-right: 10px;
    }

    &:hover {
      background: $facebookHover;
      border-color: $facebookHover;
    }
  }

  // Back button
  &.back {
    &:before {
      width: 25px;
      height: 25px;
    }

    &:hover:before {
      @include prefixed(transform, translateX(0));
    }
  }

  // Forward button
  &.forward {
    &:after {
      width: 25px;
      height: 25px;
    }

    &:hover:after {
      @include prefixed(transform, translateX(0));
    }
  }

  &:hover .icon span {
    opacity: 1; // Show the span (with the hover icon)
  }

  .icon {
    position: relative;
    width: 25px;
    height: 25px;
    margin-top: -1px;
    background-image: url('../images/sprites.png');
    background-repeat: no-repeat;

    @media (min--moz-device-pixel-ratio: 1.5),
           (-o-min-device-pixel-ratio: 3/2),
           (-webkit-min-device-pixel-ratio: 1.5),
           (min-device-pixel-ratio: 1.5),
           (min-resolution: 144dpi),
           (min-resolution: 1.5dppx) {

      background-image: url('../images/sprites@2x.png');
      background-size: 500px 349px;
    }

    span {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      opacity: 0; // Hide the span until it is hovered over
      background-image: url('../images/sprites.png');
      background-repeat: no-repeat;
      @include prefixed(transition, .25s opacity);

      // Retina sprites
        @media (min--moz-device-pixel-ratio: 1.5),
               (-o-min-device-pixel-ratio: 3/2),
               (-webkit-min-device-pixel-ratio: 1.5),
               (min-device-pixel-ratio: 1.5),
               (min-resolution: 144dpi),
               (min-resolution: 1.5dppx) {

          background-image: url('../images/sprites@2x.png');
          background-size: 500px 349px;
        }
    }

    &.next {
      margin-left: 8px;
      background-position: -35px -113px;

      span {
        background-position: -95px -113px;
      }
    }

    &.back {
      margin-right: 8px;
      background-position: -5px -113px;

      span {
        background-position: -65px -113px;
      }
    }

    &.submit {
      margin-right: 8px;
      background-position: -65px -173px;

      span {
        background-position: -95px -143px;
      }
    }

    &.cocktail {
      margin-right: 8px;
      background-position: -325px -181px;

      span {
        background-position: -325px -79px;
      }
    }
  }

  &.blue {
    color: $primaryHighlight;

    &:hover {
      color: white;
    }

    .icon.next {
      background-position: -35px -143px;
    }

    .icon.back {
      background-position: -5px -143px;
    }

    .icon.submit {
      background-position: -65px -143px;
    }
  }
}

// Styles for buttons when on card
.card .button {
  color: $primaryHighlight;

  &:hover {
    color: white;
  }
}

#close-status {
  background-color: transparent;
  border: none;
}
