form {
  font-size: 16px;

  fieldset {
    border: none;
    padding: 0 0 1em 0;
  }

  .inputset {
    margin-bottom: .625em;
  }

  label {
    display: block;
    margin-top: 1em;
    margin-bottom: .625em;
    font-weight: 500;
    font-size: 1em;
  }

  .expiry span {
    font-weight: bold;
  }

  input,
  .icon,
  span {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
  }

  .icon {
    margin: 0 6px 0 14px;
  }

  span {
    font-size: .875em;
  }

  input {
    @include prefixed(box-sizing, border-box);
    width: 100%;
    min-width: 140px;
    padding: .4em;
    border: solid 1px #D6D6D6;
  }

  input[type="submit"] {
    width: auto;
  }

  input.month,
  input.year {
    width: 3em;
    min-width: 30px;
    text-align: center;
  }

  @media only screen and (min-width: 480px) {
    .group > fieldset {
      float: left;

      &:first-child {
        margin-right: 20px;
      }
    }

    .half {
      width: 45%;
    }

    .third {
      width: 30%;
    }

    .quarter {
      width: 22.5%;
    }
  }


}
