form {
  font-size: 16px;

  fieldset {
    border: none;
    padding: 0 0 1em 0;
  }

  .inputset {
    margin-bottom: .625em;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  fieldset.submit {
    margin-top: 1.6em;
  }

  label {
    display: block;
    margin-top: 1em;
    margin-bottom: .625em;
    font-weight: 500;
    font-size: 1em;
  }

  .expiry span {
    font-weight: bold;
  }

  input,
  .icon,
  span {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
  }

  .icon {
    margin: 0 6px 0 8px;
  }

  span {
    font-size: .875em;
  }

  input {
    @include prefixed(box-sizing, border-box);
    width: 100%;
    min-width: 140px;
    padding: .4em;
    border: solid 1px #D6D6D6;
  }

  input[type="submit"] {
    width: auto;
  }

  .date-picker {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
    height: 24px;
    width: 24px;
    margin-left: 8px;
    border: none;
    background-color: transparent;
    @include imageReplace();
  }

  input.month,
  input.year {
    width: 3em;
    min-width: 30px;
    text-align: center;
  }

  .suffixed-labels {

    input {
      font-size: 16px;
    }

    span {
      font-size: 14px;
    }

    input {
      width: 70%;
      max-width: 140px;
    }

    .suffix {
      display: inline-block;
      *display: inline;
      zoom: 1;
      vertical-align: middle;
      width: 30%;

      .icon {
        display: none;
      }

      span {
        margin-left: 8px;
      }

      @media only screen and (min-width: 320px) {
        .icon {
          display: inline-block;
          *display: inline;
          zoom: 1;
          vertical-align: middle;
        }

        span {
          margin-left: 0;
        }
      }
    }
  }

  @media only screen and (min-width: 480px) {
    .group > fieldset {
      float: left;

      &:first-child {
        margin-right: 20px;
      }
    }

    .half {
      width: 45%;
    }

    .third {
      width: 30%;
    }

    .quarter {
      width: 22.5%;
    }
  }


}
