.side {
  float: right;
  outline: red solid 1px;
}

.group {
  margin-bottom: 3.75em;


}

@media only screen and (min-width: 720px) {
  .group {
    &.one-three {

      > div {
        float: left;
      }

      > div:nth-of-type(1) {
        width: 34.5%;
        margin-right: 3%;
      }

      > div:nth-of-type(2) {
        width: 62.5%;

      }
    }

    &.two-three {

      > div {
        float: left;
      }

      > div:nth-of-type(1) {
        width: 62.5%;
        margin-right: 3%;
      }

      > div:nth-of-type(2) {
        width: 34.5%;
      }
    }

    &.one-four {

      > div {
        float: left;
      }

      > div:nth-of-type(1) {
        width: 26.125%;
        margin-right: 7.25%;
      }

      > div:nth-of-type(2) {
        width: 66.625%;

      }
    }

    &.three-four {

      > div {
        float: left;
      }

      > div:nth-of-type(1) {
        width: 66.625%;
        margin-right: 7.25%;
      }

      > div:nth-of-type(2) {
        width: 26.125%;

      }
    }

    &.half {

      > div {
        float: left;
      }

      > div:nth-of-type(1) {
        width: 48.5%;
        margin-right: 3%;
      }

      > div:nth-of-type(2) {
        width: 48.5%;
      }
    }
  }
}

@media only screen and (min-width: 740px) {
  .group {
    &.one-three {

      > div {
        float: left;
      }

      > div:nth-of-type(1) {
        width: 33%;
        margin-right: 6%;
      }

      > div:nth-of-type(2) {
        width: 61%;

      }
    }

    &.two-three {

      > div {
        float: left;
      }

      > div:nth-of-type(1) {
        width: 61%;
        margin-right: 6%;
      }

      > div:nth-of-type(2) {
        width: 33%;
      }
    }

    &.one-four {

      > div {
        float: left;
      }

      > div:nth-of-type(1) {
        width: 22.5%;
        margin-right: 14.5%;
      }

      > div:nth-of-type(2) {
        width: 63%;

      }
    }

    &.three-four {

      > div {
        float: left;
      }

      > div:nth-of-type(1) {
        width: 63%;
        margin-right: 14.5%;
      }

      > div:nth-of-type(2) {
        width: 22.5%;

      }
    }

    &.half {

      > div {
        float: left;
      }

      > div:nth-of-type(1) {
        width: 47%;
        margin-right: 6%;
      }

      > div:nth-of-type(2) {
        width: 47%;
      }
    }
  }
}
