.icon {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  width: 24px;
  height: 24px;

  &.twitter {
    width: 30px;
  }

  &.cocktail {
    width: 25px;
  }

  &.calendar {
    width: 25px;
  }
}
