.no-opacity .icon span {
  display: none;
}

.no-opacity .icon:hover span {
  display: block;
}

.icon {
  position: relative;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  width: 25px;
  height: 25px;

  &:hover span {
    opacity: 1; // Show the span (with the hover icon)
  }

  span {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0; // Hide the span until it is hovered over
    background-image: url('../images/sprites.png');
    background-repeat: no-repeat;
    @include prefixed(transition, .25s opacity);

    // Retina sprites
      @media (min--moz-device-pixel-ratio: 1.5),
             (-o-min-device-pixel-ratio: 3/2),
             (-webkit-min-device-pixel-ratio: 1.5),
             (min-device-pixel-ratio: 1.5),
             (min-resolution: 144dpi),
             (min-resolution: 1.5dppx) {

        background-image: url('../images/sprites@2x.png');
        background-size: 500px 349px;
      }
  }

  &.twitter {
    width: 30px;
  }

  &.cocktail {
    width: 25px;
  }

  &.calendar {
    width: 25px;
  }
}
