// General links
a {
  color: white;
  text-decoration: none;
  @include prefixed(transition-duration, .25s);
}

.current,
.current:hover,
.forward:hover,
.back:hover {
  color: $primaryHighlight;
}

a:hover {
  color: $hoverHighlight;
}

main a {
  color: $primaryHighlight;
}

// Back/forward text links with arrows
.back,
.forward {
  font-size: .875em;
  font-weight: 300;
  color: white;
}

.forward:after {
  position: relative;
  top: -1px;
  content: "";
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  margin-left: 6px;
  width: 10px;
  height: 15px;
  @include prefixed(transition-duration, .25s);
}

.forward:hover:after {
  @include prefixed(transform, translateX(4px));
}

.back:before {
  position: relative;
  top: -1px;
  content: "";
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  margin-right: 8px;
  width: 10px;
  height: 15px;
  @include prefixed(transition-duration, .25s);
}

.back:hover:before {
  @include prefixed(transform, translateX(-4px));
}

.reservation:before {
  content: "";
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  margin-top: -3px;
  margin-right: 8px;
}

//Social links
.social-links {
  margin: 0;
  padding: 0;
  text-align: center;

  li {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
    margin: 0 6px;
  }

  a {
    display: block;
    width: 24px;
    height: 24px;
    @include imageReplace();
  }

  .twitter {
    width: 30px;
  }
}
