/**
 * Contains major structure styles which should not need to be changed unless
 * the website is going under major structural changes
 */

$maxWidth: 1120px;

// Clearfix
.group:before,
.group:after {
  content: " ";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  *zoom: 1;
}

main .group:last-of-type {
  margin-bottom: 0;
}

.interior {

  .wrapper {
    padding-top: 2.222222em;

    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 80%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(80%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 80%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 80%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 80%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 80%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    background-attachment: fixed;
  }
}

.wrapper {
  position: relative;
  margin: 0;
  padding-top: 2em;
  padding-bottom: 2em;

  @media only screen and (min-width: 640px) {
    padding-top: 5em;
    padding-bottom: 5em;
  }
}

.overlay {
  margin: 0;
}

.container {
  position: relative;
  z-index: 20;
  max-width: $maxWidth;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

// Reset
p {
  margin: 0;
}

/**
 * Used to force the feature section to a specific height and to make the
 * content vertically aligned
 */
.front header {
  position: relative;
  background-image: url("../images/backgrounds/bg-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;

  // Contains grid overlay
  &:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("../images/backgrounds/bg-overlay.png") fixed;
  }
}

header {
  padding-top: 60px;
  font-size: 0; // Remove 4px gap between inline-block elements
  text-align: center;

  nav[role="navigation"] {
    position: fixed;
    top: 0;

    background: black;
    background: rgba(0, 0, 0, .90);

    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #262626;
    border-bottom-color: rgba(255, 255, 255, .15);
  }

  .group {
    margin-bottom: 0;
  }

  .container {
    padding: 10px;
  }

  .feature-wrapper {
    font-size: 0;
  }

  // Vertically align the feature content in the middle of the header
  .feature-wrapper:before,
  .feature {
    content: "";
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
  }

  .feature-wrapper:before {
    height: 390px;
  }


  .feature {
    position: relative;
    z-index: 10;
    margin: 0 20px 0 20px;
    max-width: 420px;
    text-align: center;
    font-size: 16px; // Reset font-size as it was previously set to 0

    @media only screen and (min-width: 640px) {
      margin-top: -40px;
    }

    .title {
      margin-bottom: 1.8em;
    }
  }

  // Contains logo, menu icon and nav links
  nav[role="navigation"] {
    z-index: 30;
    top: 0;
    left: 0;
    right: 0;
  }

  .logo {
    float: left;
    padding: 10px 0;
  }

  // Menu icon
  .menu {
    position: relative;
    right: -10px;
    float: right;
    width: 25px;
    height: 20px;
    padding: 10px;
    @include imageReplace();
  }

  // Hide the text links for mobile devices
  ul {
    display: none;
  }
}

.banner {
  position: relative;
  height: 140px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #262626;
  border-bottom-color: rgba(255, 255, 255, .15);
  background-image: url("../images/backgrounds/bg-party.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;

  @media only screen and (min-width: 640px) {
    height: 200px;
  }
}

// Everything in the <main> of the front page is center aligned
.front {
  main {
    text-align: center;
  }

  img {
    border: none;
  }
}

.interior main {
  background-image: url("../images/backgrounds/bg-interior.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: contain;
  // background-attachment: fixed;

  @media only screen and (min-width: 1280px),
              screen and (max-height: 580px) {
    // background-size: cover;
  }
}

section {
  margin-bottom: 5em;
}

// Features section ("Take control of your night" on the front page for example)
.features {
  padding: 0 20px;

  img {
    margin-bottom: .875em;
    max-height: 120px;
  }

  p {
    margin-bottom: 1.25em;
  }

  h3 {
    margin-bottom: .5em;
  }

  > div {
    margin: 0 auto;
    margin-bottom: 3.75em;
    max-width: 250px;
  }

  .forward,
  .back {
    font-size: .8888889em;
  }
}

.cta {
  position: relative;
  height: 450px;
  padding-top: 60px;
  background-color: black;
  background-image: url("../images/backgrounds/bg-footer.jpg");
  background-position: 50% 0;
  background-repeat: no-repeat;
  text-align: center;

  .container {
    position: relative;
    z-index: 20;
  }
}

footer {
  padding-bottom: 60px;
  text-align: center;

  nav[role="navigation"] ul {
    padding: 0;
    margin-bottom: 3em;

    li {
      display: block;
      line-height: 140%;
    }

    a {
      display: inline-block;
      *display: inline;
      zoom: 1;
      padding: .5em 1em;
    }
  }

  .social-links {
    margin: 1.5em 0;
  }

  .logo {
    display: block;
    margin-bottom: 4px;
  }
}

// Section with a white background, typically paired with .infobar
.card {
  @include prefixed(box-sizing, border-box);
  margin: 0;
  padding: 1em;
  padding-bottom: 2.75em;
  background: white;
  color: black;
  font-weight: 300;
  font-size: .8888889em;

  &.club h1 {
    display: block;
    border-bottom: none;
  }

  h1 {
    display: none;
    margin-bottom: .725em;
    padding-bottom: .4em;
    font-size: 1.75em;
    font-weight: 700;
    line-height: 140%;
    border-bottom: solid 1px #F0F0F0;

    @media only screen and (min-width: 720px) {
      display: block;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: black;
    text-transform: none;
  }

  .button[type="submit"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.box {
  padding: 1.111111em;
  border-style: solid;
  border-width: 1px;
  border-color: #262626;
  border-color: rgba(255, 255, 255, .15);
  background: black;
  background: rgba(0, 0, 0, .7);
  font-size: 16px;

  .titleset {
    margin-top: 0;
  }
}

.card-list {
  margin: 0;
  padding: 0;
  font-size: 0;

  > li {
    @include prefixed(box-sizing, border-box);
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    width: 100%;
    margin-bottom: 2.5em;
    padding: .8888889em;
    padding-bottom: 1.5em;
    list-style: none;
    font-size: 18px;

    &:last-child {
      margin: 0;
    }

    img {
      @include prefixed(box-sizing, border-box);
    }

    .reservation {
      display: block;
      text-align: center;
      font-size: .8888889em;
      font-weight: 500;
    }

    h2 {
      margin: 0;
      margin-bottom: .4em;
      font-size: 1.5555556em;
      font-weight: 700;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }



    h2,
    h3,
    h4,
    h5,
    h6 {
      color: black;
    }

    img {
      border: black solid 2px;
    }

    @media only screen and (min-width: 520px) {
      width: 48.4375%;

      &:nth-child(odd) {
        margin-right: 1.5625%;
      }

      &:nth-child(even) {
        margin-left: 1.5625%;
      }
    }

    @media only screen and (min-width: 840px) {
      width: 46.875%;

      &:nth-child(odd) {
        margin-right: 3.125%;
      }

      &:nth-child(even) {
        margin-left: 3.125%;
      }
    }
  }
}

.profile {
  text-align: center;

  > * {
    margin-bottom: 0;
  }

  dl {
    margin-bottom: 1em;
    text-align: left;

    dt,
    dd {
      float: left;
      margin: 0;

    }

    dt {
      width: 30%;
      font-weight: 500;
    }

    dd {
      width: 60%;
      margin-bottom: .6em;
    }
  }
}

// Sidebar that typically sits next to .card
.infobar {
  display: none;
  @include prefixed(box-sizing, border-box);
  font-size: 16px;

  h1 {
    text-transform: none;
    font-size: 2.25em;
    font-weight: 500;
    line-height: 120%;
  }

  h2 {
    margin: 0;
    font-size: 1.5555556em;
  }

  .headerset {
    padding-bottom: 1em;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #262626;
    border-bottom-color: rgba(255, 255, 255, .15);
  }

  @media only screen and (min-width: 720px) {
    display: block;
  }
}

.payment {
  margin-bottom: 0;
}

@media only screen and (min-width: 640px) {
  .banner {
    height: 300px;
  }

  .front header nav[role="navigation"] {
    padding-top: 0;
    background: none;
    border-bottom: none;
  }



  .title {
    max-width: 640px;
  }

  h1 {
    font-size: 2.5em;
  }

  .features {
    max-width: 960px;
    margin: 0 auto;
    padding: 0;

    > div {
      display: inline-block;
      *display: inline;
      vertical-align: top;
      width: 30%;
      max-width: 160px;
      margin-bottom: 0;
    }

    .middle {
      margin: 0 40px;
    }
  }

  footer {
    nav[role="navigation"] ul li {
      display: inline-block;
      *display: inline;
      zoom: 1;
    }

    .social-links {
      margin: 1.5em 0 0 0;
    }
  }
}

@media only screen and (min-width: 670px) {
  .features > div {
    max-width: 180px;
  }
}

@media only screen and (min-width: 720px) {
  .mobile-details {
    display: none;
  }

  header {
    padding-top: 0;

    nav[role="navigation"] {
      position: relative;
      background: black;
      top: 0;
      font-size: 14px; // Reset font as it was previously set to 0

      .logo {
        padding: 1.5em 0;
      }

      ul {
        position: relative;
        display: block;
        float: right;
        padding: 0.625em 0;

        a {
          padding: 1em .725em;
        }

        .boxed {
          margin-left: .725em;
          padding: .725em;
        }
      }
    }

    .feature {
      max-width: 100%;
    }
  }

  .menu {
    display: none;
  }
}

@media only screen and (min-width: 820px) {
  .features > div {
    max-width: 200px;
  }

  .features .middle {
    margin: 0 60px;
  }
}

@media only screen and (min-width: 920px) {
  header .feature-wrapper:before {
    height: 670px;
  }

  .title {
    max-width: 920px;
  }

  h1 {
    font-size: 3.75em;
  }

  h2 {
    font-size: 2.625em;
  }

  .features > div {
    max-width: 260px;
  }

  .features .middle {
    margin: 0 40px;
  }
}

@media only screen and (min-width: 960px) {
  main .container {
    max-width: 1040px;
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .front main .container {
    max-width: 1120px;
  }

  .features > div {
    max-width: 260px;
  }

  .features .middle {
    margin: 0 60px;
  }
}
