/**
 * Messages such as success, warning, error and so on.
 */

.message,
.success,
.warning,
.error {
  display: block;
  padding: 1.5em;
  background: #F0F0F0;
  font-weight: 300;
  font-size: 16px;
  color: black;
  text-align: left;

  &:before {
    content: "";
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    margin-top: -1px;
    margin-right: 10px;
  }
}

.errors {
  ul {
    margin-top: 1em;
  }
}
