.menu,
.button.facebook:before,
.forward:after,
.forward.button:after,
.back:before,
.reservation:before,
.back.button:before,
.submit.button:before,
.slider:after,
.slider .next,
.slider .prev,
.carousel .screen:after,
.icon,
.pagination .first,
.pagination .prev,
.pagination .next,
.pagination .last,
.prev,
.next,
.success:before,
.warning:before,
.error:before,
.date-picker {
  background-image: url('../images/sprites.png');
	background-repeat: no-repeat;

  // Retina sprites
  @media (min--moz-device-pixel-ratio: 1.5),
         (-o-min-device-pixel-ratio: 3/2),
         (-webkit-min-device-pixel-ratio: 1.5),
         (min-device-pixel-ratio: 1.5),
         (min-resolution: 144dpi),
         (min-resolution: 1.5dppx) {

    background-image: url('../images/sprites@2x.png');
    background-size: 500px 349px;
  }
}

.menu {
  background-position: -255px 1px;
}

// Links
.prev {
  background-position: -5px -5px;
}

.next {
  background-position: -41px -5px;
}

.forward:after {
  background-position: -226px -13px;
}

.back:before {
  background-position: -205px -13px;
}

.reservation:before {
  background-position: -325px -181px;
}

// Pagination Links
.pagination .first {
  background-position: -224px -236px;
}

.pagination .prev {
  background-position: -225px -196px;
}

.pagination .next {
  background-position: -224px -174px;
}

.pagination .last {
  background-position: -224px -216px;
}

// Buttons
.button.forward:after {
  background-position: -35px -113px;
}

.button.back:before {
  background-position: -5px -113px;
}

.button.facebook:before {
  background-position: -94px -233px;
}

.button.submit:before {
  background-position: -5px -233px;
}

// Carousel/Slider
.slider:after,
.carousel .screen:after {
  background-position: -260px -75px;
}

.slider .next {
  background-position: -41px -262px;
}

.slider .prev {
  background-position: -5px -262px;
}

.date-picker {
  background-position: -425px -181px;
}


// Icons
.icon.twitter {
  background-position: -150px -233px;

  &.blue {
    background-position: -442px -215px;
  }

  &.black {
    background-position: -442px -320px;
  }
}

.icon.facebook {
  background-position: -94px -233px;

  &.blue {
    background-position: -384px -215px;
  }

  &.black {
    background-position: -384px -320px;
  }
}

.icon.instagram {
  background-position: -122px -233px;

  &.blue {
    background-position: -413px -215px;
  }

  &.black {
    background-position: -413px -320px;
  }
}

.icon.swipe {
  background-position: -264px -79px;

  &.blue {
    background-position: -264px -181px;
  }

  &.black {
    background-position: -264px -285px;
  }
}

.icon.lock {
  background-position: -294px -79px;

  &.blue {
    background-position: -294px -181px;
  }

  &.black {
    background-position: -294px -285px;
  }
}

.icon.cocktail {
  background-position: -325px -79px;

  &.blue {
    background-position: -325px -181px;
  }

  &.black {
    background-position: -325px -285px;
  }
}

.icon.social {
  background-position: -358px -79px;

  &.blue {
    background-position: -358px -181px;
  }

  &.black {
    background-position: -358px -285px;
  }
}

.icon.tickets {
  background-position: -391px -79px;

  &.blue {
    background-position: -391px -181px;
  }

  &.black {
    background-position: -391px -285px;
  }
}

.icon.calendar {
  background-position: -425px -79px;

  &.blue {
    background-position: -425px -181px;
  }

  &.black {
    background-position: -425px -285px;
  }
}

.icon.marker {
  background-position: -456px -79px;

  &.blue {
    background-position: -456px -181px;
  }

  &.black {
    background-position: -456px -285px;
  }
}

.icon.phone {
  background-position: -265px -113px;

  &.blue {
    background-position: -265px -215px;
  }

  &.black {
    background-position: -265px -320px;
  }
}

.icon.girl {
  background-position: -293px -113px;

  &.blue {
    background-position: -293px -215px;
  }

  &.black {
    background-position: -293px -320px;
  }
}

.icon.boy {
  background-position: -324px -113px;

  &.blue {
    background-position: -324px -215px;
  }

  &.black {
    background-position: -324px -320px;
  }
}

.icon.party {
  background-position: -356px -113px;

  &.blue {
    background-position: -356px -215px;
  }

  &.black {
    background-position: -356px -320px;
  }
}

// Message Icons
.success:before {
  background-position: -5px -233px;
}

.warning:before {
  background-position: -35px -233px;
}

.error:before {
  background-position: -65px -233px;
}


// Other retina graphics not in the sprite sheet
@media (min--moz-device-pixel-ratio: 1.5),
       (-o-min-device-pixel-ratio: 3/2),
       (-webkit-min-device-pixel-ratio: 1.5),
       (min-device-pixel-ratio: 1.5),
       (min-resolution: 144dpi),
       (min-resolution: 1.5dppx) {

        .overlay,
        .front header:after {
          background-image: url("../images/backgrounds/bg-overlay@2x.png");
          background-size: 4px;
        }

        .banner {
          background-image: url("../images/backgrounds/bg-party@2x.jpg");
        }

        .cta {
          background-image: url("../images/backgrounds/bg-footer@2x.jpg");
          background-size: 1280px 510px;
        }
       }
