
<div class="jumbotron center">
<h4>Clublist gets you connected to the top nightclubs in your city.</h4>
</br>
<h4> No texting club promoters or getting turned away at the door. Take control of your night!</h4>
 <%= link_to '<i class="fa fa-facebook"></i>
      Sign in with Facebook'.html_safe, user_omniauth_authorize_path(:facebook), class: "btn btn-social btn-facebook btn-lg"  %>

</div>