<div class="container">
  <div class="group two-three">
    <div class="card club">
      <div class="card-inner">
          <h1 class="panel-title">Edit this upcoming reservation:</h1>

          <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
