<h1>New payment</h1>

<div id="credit-card-errors">
  <p id="stripe-error-message"/>
</div>

<p><a href="https://stripe.com/docs/testing#cards">Test card numbers</a></p>

<%= render 'form' %>

<%= link_to 'Back', payments_path %>