<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<title>Social Axis</title>

	<link href="css/styles.css" rel="stylesheet">
	<!--[if lt IE 10]>
		<link href="css/ie.css" rel="stylesheet">
	<![endif]-->
	<!--[if IE 7]>
		<link href="css/ie7.css" rel="stylesheet">
	<![endif]-->

	<script src="js/third-party/modernizr.min.js"></script>
	<!--[if lt IE 9]>
		<script src="js/third-party/html5shiv-printshiv.min.js"></script>
		<script src="js/third-party/nwmatcher-1.2.5-min.js"></script>
		<script src="js/third-party/selectivizr-min.js"></script>
		<script src="js/third-party/respond.min.js"></script>
	<![endif]-->
</head>
<body class="club interior">

	<header role="banner">
		<nav role="navigation">
			<div class="group container">
				<a class="logo" href="#"><img src="images/social-axis-logo.png" alt="Social Axis" /></a>
				<a href="#links" class="menu" id="menu">Menu</a>
				<div id="links">
					<button id="close-menu" type="button"><i class="icon close">Close<span></span></i></button>
					<ul>
						<li><a class="current" href="/about.html" title="About Social Axis">About</a></li>
						<li><a href="/contact-us.html" title="Contact Social Axis">Contact Us</a></li>
						<li><a class="boxed" href="#" title="Sign In with Facebook">Sign In</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<main id="main" role="main">
		<div class="wrapper">
			<div class="overlay"></div>


			<div class="container">
				<div class="group one-three">
					<div class="infobar">

						<div class="profile box">

							<div class="box-inner">

								<div id="profile-slider" class="profile-slider">
									<div class="profile-details">
										<img src="images/content/temp3.jpg" alt="Username" />

										<dl class="group">
											<dt>Name:</dt>
											<dd>Ian Lunn</dd>
											<dt>City:</dt>
											<dd>New York, NY</dd>
											<dt class="status-info">Status:</dt>
											<dd class="status-info"><button id="show-status" class="status">Party Animal</button></dd>
										</dl>
									</div>

									<div class="status-details">
										<button id="close-status" type="button"><i class="icon back"><span></span>Back</i></button>

										<div class="titleset all">
											<i class="icon party"></i>
											<h3>Party Animal</h3>
										</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula ante eget purus bibendum fringilla. Suspendisse sit amet est ut lacus posuere suscipit.</p>
									</div>
								</div>
							</div>
						</div>

						<div class="reservation-list box">

							<div class="box-inner">

								<div class="titleset all">
									<i class="icon calendar"></i>
									<h3>My Reservations</h3>
								</div>

								<ul>
									<li>
										<a class="share" href="https://www.facebook.com/share.php?u=<url>" title="Share your reservation on Facebook"><i class="icon facebook"><span>Share</span></i></a>
										<h3>The VIP Room</h3>
										<p>7pm Friday, July 20th</p>
									</li>
									<li>
										<a class="share" href="https://www.facebook.com/share.php?u=<url>" title="Share your reservation on Facebook"><i class="icon facebook"><span>Share</span></i></a>
										<h3>The VIP Room</h3>
										<p>7pm Friday, July 20th</p>
									</li>
									<li>
										<a class="share" href="https://www.facebook.com/share.php?u=<url>" title="Share your reservation on Facebook"><i class="icon facebook"><span>Share</span></i></a>
										<h3>The VIP Room</h3>
										<p>7pm Friday, July 20th</p>
									</li>
									<li>
										<a class="share" href="https://www.facebook.com/share.php?u=<url>" title="Share your reservation on Facebook"><i class="icon facebook"><span>Share</span></i></a>
										<h3>The VIP Room</h3>
										<p>7pm Friday, July 20th</p>
									</li>
								</ul>

								<p class="align-center"><a href="#" class="forward">Book another table</a></p>

								<div class="titleset all">
									<i class="icon calendar"></i>
									<h3>My Reservations</h3>
								</div>

								<p class="align-center">No reservations! We should change that.</p>
							</div>
						</div>

					</div>

					<div>

						<ul class="card-list">
							<li class="card">
								<div class="card-inner">
									<img src="images/content/temp2.jpg" alt="Club name" />
									<h2>The VIP Room long title</h2>
									<p class="concealed">Lorem ipsum dolor sit amet, consectetur</p>

									<a class="forward reservation highlight" href="#" title="Title of link">Make a reservation</a>
								</div>
							</li>

							<li class="card">
								<div class="card-inner">
									<img src="images/content/temp2.jpg" alt="Club name" />
									<h2>Hotel Chantelle</h2>
									<p class="concealed">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut pretium sapien. Fusce at eros a eros vulputate mattis ac et ante. Cras id mi semper, tincidunt tellus ut, tempor tellus. Morbi non porta arcu, a vehicula odio. Aliquam erat volutpat. Aliquam porttitor consectetur felis ac pulvinar. In hac habitasse platea dictumst. Donec tristique laoreet venenatis. Aliquam volutpat mi vitae luctus molestie. Maecenas vitae faucibus turpis. Proin viverra at justo vel lobortis. Aenean ornare, augue sit amet faucibus imperdiet, enim odio vestibulum dolor, id eleifend ante nulla in tortor. Aliquam felis libero, semper quis interdum quis, pretium id tortor. Suspendisse potenti. Suspendisse ut erat aliquam, suscipit velit tincidunt, commodo urna. Maecenas imperdiet nisi tortor, quis porttitor magna tincidunt at.</p>

									<a class="forward reservation highlight" href="#" title="Title of link">Make a reservation</a>
								</div>
							</li>

							<li class="card">
								<div class="card-inner">
									<img src="images/content/temp2.jpg" alt="Club name" />
									<h2>The VIP Room</h2>
									<p class="concealed">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut pretium sapien. Fusce at eros a eros vulputate mattis ac et ante. Cras id mi semper, tincidunt tellus ut, tempor tellus. Morbi non porta arcu, a vehicula odio. Aliquam erat volutpat. Aliquam porttitor consectetur felis ac pulvinar. In hac habitasse platea dictumst. Donec tristique laoreet venenatis. Aliquam volutpat mi vitae luctus molestie. Maecenas vitae faucibus turpis. Proin viverra at justo vel lobortis. Aenean ornare, augue sit amet faucibus imperdiet, enim odio vestibulum dolor, id eleifend ante nulla in tortor. Aliquam felis libero, semper quis interdum quis, pretium id tortor. Suspendisse potenti. Suspendisse ut erat aliquam, suscipit velit tincidunt, commodo urna. Maecenas imperdiet nisi tortor, quis porttitor magna tincidunt at.</p>

									<a class="forward reservation highlight" href="#" title="Title of link">Make a reservation</a>
								</div>
							</li>

							<li class="card">
								<div class="card-inner">
									<img src="images/content/temp2.jpg" alt="Club name" />
									<h2>The VIP Room</h2>
									<p class="concealed">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut pretium sapien. Fusce at eros a eros vulputate mattis ac et ante. Cras id mi semper, tincidunt tellus ut, tempor tellus. Morbi non porta arcu, a vehicula odio. Aliquam erat volutpat. Aliquam porttitor consectetur felis ac pulvinar. In hac habitasse platea dictumst. Donec tristique laoreet venenatis. Aliquam volutpat mi vitae luctus molestie. Maecenas vitae faucibus turpis. Proin viverra at justo vel lobortis. Aenean ornare, augue sit amet faucibus imperdiet, enim odio vestibulum dolor, id eleifend ante nulla in tortor. Aliquam felis libero, semper quis interdum quis, pretium id tortor. Suspendisse potenti. Suspendisse ut erat aliquam, suscipit velit tincidunt, commodo urna. Maecenas imperdiet nisi tortor, quis porttitor magna tincidunt at.</p>

									<a class="forward reservation highlight" href="#" title="Title of link">Make a reservation</a>
								</div>
							</li>
						</ul>

						<ul class="pagination">
							<li><a class="first" href="#" title="Go to the first page">First</a></li>
							<li><a class="prev" href="#" title="Go to the previous page">Prev</a></li>
							<li><a href="#" title="Go to page 1">1</a></li>
							<li><a class="current "href="#" title="Go to page 2">2</a></li>
							<li><a href="#" title="Go to page 3">3</a></li>
							<li><a href="#" title="Go to page 4">4</a></li>
							<li><a href="#" title="Go to page 5">5</a></li>
							<li><a class="next" href="#" title="Go to the next page">Next</a></li>
							<li><a class="last" href="#" title="Go to the last page">Last</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="cta">
			<div class="container">
				<a class="button facebook" href="#" title="Sign In with Facebook">Sign In with Facebook</a>
				<p class="hint">...and get instant access</p>
			</div>

			<div class="overlay"></div>
		</div>

	</main>

	<footer class="container" role="contentinfo">

		<ul class="social-links">
			<li><a href="#" title="View Social Axis on Twitter"><i class="icon twitter">Twitter<span></span></i></a></li>
			<li><a class="icon instagram" href="#" title="View Social Axis on Instagram"><i class="icon instagram">Instagram<span></span></i></a></li>
			<li><a class="icon facebook" href="#" title="View Social Axis on Facebook"><i class="icon facebook">Facebook<span></span></i></a></li>
		</ul>

		<nav role="navigation">
			<ul>
				<li><a href="/about.html" title="About Social Axis">About</a></li>
				<li><a href="/contact-us.html" title="Contact Social Axis">Contact Us</a></li>
				<li><a href="#" title="Sign In with Facebook">Sign In</a></li>
			</ul>
		</nav>

		<a class="logo" href="#"><img src="images/social-axis-logo.png" alt="Social Axis" /></a>
		<small>Copyright &copy; <time datetime="2014">2014</time> <a href="#">Social Axis</a></small>
	</footer>

	<script src="js/third-party.min.js"></script>
	<script src="js/scripts.js"></script>
</body>
</html>
