<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Social Axis</title>

	<link href="css/styles.css" rel="stylesheet">

	<!--[if lt IE 9]>
		<script src="js/third-party/html5shiv-printshiv.min.js"></script>
		<script src="js/third-party/respond.min.js"></script>
	<![endif]-->
</head>
<body class="club interior">

	<header role="banner">
		<nav role="navigation">
			<div class="group container">
				<a class="logo" href="#"><img src="images/social-axis-logo.png" alt="Social Axis" /></a>
				<a href="#" class="menu" id="menu">Menu</a>
				<ul>
					<li><a class="current" href="/about.html" title="About Social Axis">About</a></li>
					<li><a href="/contact-us.html" title="Contact Social Axis">Contact Us</a></li>
					<li><a class="boxed" href="#" title="Sign In with Facebook">Sign In</a></li>
				</ul>
			</div>
		</nav>
	</header>

	<main role="main">
		<div class="wrapper">
			<div class="overlay"></div>


			<div class="container">
				<div class="group one-three">
					<div class="infobar">

						<div class="profile box">
							<img src="images/content/temp3.jpg" alt="Username" />

							<dl class="group">
								<dt>Name:</dt>
								<dd>Ian Lunn</dd>
								<dt>City:</dt>
								<dd>New York, NY</dd>
								<dt>Status:</dt>
								<dd><a href="#">Party Animal</a></dd>
							</dl>
						</div>

						<div class="reservation-list box">

							<div class="titleset all">
								<i class="icon calendar"></i>
								<h3>My Reservations</h3>
							</div>

							<dl>
								<dt>The VIP Room</dt>
								<dd>7pm Friday, July 20th</dd>

								<dt>The Janet Hotel</dt>
								<dd>9pm Friday, July 22nd</dd>
							</dl>

							<p class="align-center"><a href="#" class="forward">Book another table</a></p>

							<div class="titleset all">
								<i class="icon calendar"></i>
								<h3>My Reservations</h3>
							</div>

							<p class="align-center">No reservations! We should change that.</p>
						</div>

					</div>

					<div>

						<ul class="card-list">
							<li class="card">
								<img src="images/content/temp2.jpg" alt="Club name" />
								<h2>The VIP Room long title</h2>
								<p class="concealed">Lorem ipsum dolor sit amet, consectetur</p>

								<a class="forward reservation highlight" href="#" title="Title of link">Make a reservation</a>
							</li>

							<li class="card">
								<img src="images/content/temp2.jpg" alt="Club name" />
								<h2>Hotel Chantelle</h2>
								<p class="concealed">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut pretium sapien. Fusce at eros a eros vulputate mattis ac et ante. Cras id mi semper, tincidunt tellus ut, tempor tellus. Morbi non porta arcu, a vehicula odio. Aliquam erat volutpat. Aliquam porttitor consectetur felis ac pulvinar. In hac habitasse platea dictumst. Donec tristique laoreet venenatis. Aliquam volutpat mi vitae luctus molestie. Maecenas vitae faucibus turpis. Proin viverra at justo vel lobortis. Aenean ornare, augue sit amet faucibus imperdiet, enim odio vestibulum dolor, id eleifend ante nulla in tortor. Aliquam felis libero, semper quis interdum quis, pretium id tortor. Suspendisse potenti. Suspendisse ut erat aliquam, suscipit velit tincidunt, commodo urna. Maecenas imperdiet nisi tortor, quis porttitor magna tincidunt at.</p>

								<a class="forward reservation highlight" href="#" title="Title of link">Make a reservation</a>
							</li>

							<li class="card">
								<img src="images/content/temp2.jpg" alt="Club name" />
								<h2>The VIP Room</h2>
								<p class="concealed">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut pretium sapien. Fusce at eros a eros vulputate mattis ac et ante. Cras id mi semper, tincidunt tellus ut, tempor tellus. Morbi non porta arcu, a vehicula odio. Aliquam erat volutpat. Aliquam porttitor consectetur felis ac pulvinar. In hac habitasse platea dictumst. Donec tristique laoreet venenatis. Aliquam volutpat mi vitae luctus molestie. Maecenas vitae faucibus turpis. Proin viverra at justo vel lobortis. Aenean ornare, augue sit amet faucibus imperdiet, enim odio vestibulum dolor, id eleifend ante nulla in tortor. Aliquam felis libero, semper quis interdum quis, pretium id tortor. Suspendisse potenti. Suspendisse ut erat aliquam, suscipit velit tincidunt, commodo urna. Maecenas imperdiet nisi tortor, quis porttitor magna tincidunt at.</p>

								<a class="forward reservation highlight" href="#" title="Title of link">Make a reservation</a>
							</li>

							<li class="card">
								<img src="images/content/temp2.jpg" alt="Club name" />
								<h2>The VIP Room</h2>
								<p class="concealed">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut pretium sapien. Fusce at eros a eros vulputate mattis ac et ante. Cras id mi semper, tincidunt tellus ut, tempor tellus. Morbi non porta arcu, a vehicula odio. Aliquam erat volutpat. Aliquam porttitor consectetur felis ac pulvinar. In hac habitasse platea dictumst. Donec tristique laoreet venenatis. Aliquam volutpat mi vitae luctus molestie. Maecenas vitae faucibus turpis. Proin viverra at justo vel lobortis. Aenean ornare, augue sit amet faucibus imperdiet, enim odio vestibulum dolor, id eleifend ante nulla in tortor. Aliquam felis libero, semper quis interdum quis, pretium id tortor. Suspendisse potenti. Suspendisse ut erat aliquam, suscipit velit tincidunt, commodo urna. Maecenas imperdiet nisi tortor, quis porttitor magna tincidunt at.</p>

								<a class="forward reservation highlight" href="#" title="Title of link">Make a reservation</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="cta">
			<div class="container">
				<a class="button facebook" href="#" title="Sign In with Facebook">Sign In with Facebook</a>
				<p class="hint">...and get instant access</p>
			</div>

			<div class="overlay"></div>
		</div>

	</main>

	<footer class="container" role="contentinfo">

		<ul class="social-links">
			<li><a class="icon twitter" href="#" title="View Social Axis on Twitter">Twitter</a></li>
			<li><a class="icon instagram" href="#" title="View Social Axis on Instagram">Instagram</a></li>
			<li><a class="icon facebook" href="#" title="View Social Axis on Facebook">Facebook</a></li>
		</ul>

		<nav role="navigation">
			<ul>
				<li><a href="/about.html" title="About Social Axis">About</a></li>
				<li><a href="/contact-us.html" title="Contact Social Axis">Contact Us</a></li>
				<li><a href="#" title="Sign In with Facebook">Sign In</a></li>
			</ul>
		</nav>

		<a class="logo" href="#"><img src="images/social-axis-logo.png" alt="Social Axis" /></a>
		<small>Copyright &copy; <time datetime="2014">2014</time> <a href="#">Social Axis</a></small>
	</footer>

	<script src="js/third-party/jquery-1.11.1.min.js"></script>
	<script src="js/third-party/retina.min.js"></script>
	<script src="js/scripts.js"></script>

</body>
</html>
