<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Social Axis</title>

	<link href="css/styles.css" rel="stylesheet">

	<!--[if lt IE 9]>
		<script src="js/third-party/html5shiv-printshiv.min.js"></script>
		<script src="js/third-party/respond.min.js"></script>
	<![endif]-->
</head>
<body class="club interior">

	<header role="banner">
		<nav role="navigation">
			<div class="group container">
				<a class="logo" href="#"><img src="images/social-axis-logo.png" alt="Social Axis" /></a>
				<a href="#" class="menu" id="menu">Menu</a>
				<ul>
					<li><a class="current" href="/about.html" title="About Social Axis">About</a></li>
					<li><a href="/contact-us.html" title="Contact Social Axis">Contact Us</a></li>
					<li><a class="boxed" href="#" title="Sign In with Facebook">Sign In</a></li>
				</ul>
			</div>
		</nav>
	</header>

	<main role="main">
		<div class="wrapper">
			<div class="overlay"></div>


			<div class="container">
				<div class="group two-three">
					<div class="card club">

						<div id="slider" class="slider">

							<button class="prev">Previous</button>
							<button class="next">Next</button>

							<ul>
								<li><img src="images/content/temp2.jpg" alt="" /></li>
								<li><img src="images/content/temp2.jpg" alt="" /></li>
								<li><img src="images/content/temp2.jpg" alt="" /></li>
							</ul>
						</div>

						<div class="mobile-details">

							<h1>The Jane Hotel extra title extra title extra title</h1>

							<ul class="contact-details">
								<li class="phone"><i class="icon phone black"></i>345-678-9078</li>
								<li class="marker"><i class="icon marker black"></i>35 Little West 15th</li>
							</ul>

							<div class="concealed description">
								<p>The VIP Room NYC is the chic, modern nightclub, inspired by European nightlife, with the sophistication of Paris and the energy of Saint Tropez. With locations in five of the world’s unrivaled party destinations – St. Tropez, Paris, Cannes, Dubai, and now New York, VIP Room has become one of the most popular nightlife destinations. VIP Room, started by Jean-Roch in 1998 in Paris, is famous for its ‘crème de la crème’ clientele, with a worldwide reputation for attracting high end international jetsetters, trendsetters, socialites, and celebrities. Luxury lifestyle meets French decadence at VIP Room to offer an exclusive European nightlife experience in New York with live performances, DJs, and non-stop dancing.</p>
							</div>

							<div class="titleset">
								<i class="icon cocktail black"></i>
								<h2>Book Table</h2>
							</div>
						</div>

						<table>
							<thead>
								<tr>
									<td class="number">#</td>
									<td class="location">Location</td>
									<td class="min">Table Min.</td>
									<td class="reserve"></td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="number">1</td>
									<td class="location">Back Left</td>
									<td class="min">$1000</td>
									<td class="reserve"><a href="#"><i class="icon cocktail blue"></i><span>Book my table</span></a></td>
								</tr>
								<tr>
									<td class="number">2</td>
									<td class="location">Back Right</td>
									<td class="min">$1000</td>
									<td class="reserve"><a href="#"><i class="icon cocktail blue"></i><span>Book my table</span></a></td>
								</tr>
								<tr>
									<td class="number">3</td>
									<td class="location">Extra long title, too long!</td>
									<td class="min">$999999</td>
									<td class="reserve"><a href="#"><i class="icon cocktail blue"></i><span>Book my table</span></a></td>
								</tr>
								<tr>
									<td class="number">88</td>
									<td class="location">Back Right</td>
									<td class="min">$1000</td>
									<td class="reserve"><a href="#"><i class="icon cocktail blue"></i><span>Book my table</span></a></td>
								</tr>
							</tbody>
						</table>

						<form action="#">

							<fieldset class="suffixed-labels">
								<label>When are you looking to party?</label>
								<input class="third" type="text" name="date" /><button class="date-picker">Choose date</button>
							</fieldset>

							<fieldset class="suffixed-labels">
								<label>How many are going to your party?</label>
								<div class="inputset"><input class="third" type="number" name="girls" value="0" /><span class="suffix"><i class="icon girl black"></i><span>Girls</span></span></div>
								<div class="inputset"><input class="third" type="number" name="boys" value="0" /><span class="suffix"><i class="icon boy black" ></i><span>Boys</span></span></div>
							</fieldset>

							<fieldset class="submit">
								<input class="button submit" type="submit" value="Proceed to Payment" />
							</fieldset>
						</form>

					</div>

					<div class="infobar box">

						<div class="headerset">
							<h1>The Jane Hotel extra title</h1>

							<ul class="contact-details">
								<li class="phone"><i class="icon phone"></i>345-678-9078</li>
								<li class="marker"><i class="icon marker"></i>35 Little West 15th</li>
							</ul>
						</div>

						<p>The VIP Room NYC is the chic, modern nightclub, inspired by European nightlife, with the sophistication of Paris and the energy of Saint Tropez. With locations in five of the world’s unrivaled party destinations – St. Tropez, Paris, Cannes, Dubai, and now New York, VIP Room has become one of the most popular nightlife destinations. VIP Room, started by Jean-Roch in 1998 in Paris, is famous for its ‘crème de la crème’ clientele, with a worldwide reputation for attracting high end international jetsetters, trendsetters, socialites, and celebrities. Luxury lifestyle meets French decadence at VIP Room to offer an exclusive European nightlife experience in New York with live performances, DJs, and non-stop dancing.</p>
					</div>
				</div>
			</div>
		</div>

		<div class="cta">
			<div class="container">
				<a class="button facebook" href="#" title="Sign In with Facebook">Sign In with Facebook</a>
				<p class="hint">...and get instant access</p>
			</div>

			<div class="overlay"></div>
		</div>

	</main>

	<footer class="container" role="contentinfo">

		<ul class="social-links">
			<li><a class="icon twitter" href="#" title="View Social Axis on Twitter">Twitter</a></li>
			<li><a class="icon instagram" href="#" title="View Social Axis on Instagram">Instagram</a></li>
			<li><a class="icon facebook" href="#" title="View Social Axis on Facebook">Facebook</a></li>
		</ul>

		<nav role="navigation">
			<ul>
				<li><a href="/about.html" title="About Social Axis">About</a></li>
				<li><a href="/contact-us.html" title="Contact Social Axis">Contact Us</a></li>
				<li><a href="#" title="Sign In with Facebook">Sign In</a></li>
			</ul>
		</nav>

		<a class="logo" href="#"><img src="images/social-axis-logo.png" alt="Social Axis" /></a>
		<small>Copyright &copy; <time datetime="2014">2014</time> <a href="#">Social Axis</a></small>
	</footer>

	<script src="js/third-party/jquery-1.11.1.min.js"></script>
	<script src="js/third-party/retina.min.js"></script>
	<script src="js/scripts.js"></script>

</body>
</html>
