<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Social Axis</title>

	<link href="css/styles.css" rel="stylesheet">

	<!--[if lt IE 9]>
		<script src="js/third-party/html5shiv-printshiv.min.js"></script>
		<script src="js/third-party/respond.min.js"></script>
	<![endif]-->
</head>
<body class="club interior">

	<header role="banner">
		<nav role="navigation">
			<div class="group container">
				<a class="logo" href="#"><img src="images/social-axis-logo.png" alt="Social Axis" /></a>
				<a href="#" class="menu" id="menu">Menu</a>
				<ul>
					<li><a class="current" href="/about.html" title="About Social Axis">About</a></li>
					<li><a href="/contact-us.html" title="Contact Social Axis">Contact Us</a></li>
					<li><a class="boxed" href="#" title="Sign In with Facebook">Sign In</a></li>
				</ul>
			</div>
		</nav>
	</header>

	<main role="main">
		<div class="wrapper">
			<div class="overlay small"></div>


			<div class="container">
				<div class="group two-three">
					<div class="card">

						<h1>Confirm Payment</h1>

						<p class="message warning">Reservation is not complete until payment is processed.</p>

						<form action="#">

							<fieldset>
								<label>Card Number</label>
								<input class="half" type="text" name="card" placeholder="4242 4242 4242 4242" />
							</fieldset>

							<div class="group">

								<fieldset class="half">
									<label>CV Code</label>
									<input type="text" name="cv" placeholder="123" />
								</fieldset>

								<fieldset class="expiry half">
									<label>Expiry <small>Month/Year</small></label>
									<input class="month" type="text" name="month" placeholder="12" />
									<span>/</span>
									<input class="year" type="text" name="year" placeholder="14" />
								</fieldset>

							</div>

							<input class="button submit" type="submit" value="Proceed to Payment" />
						</form>

					</div>

					<div class="infobar">
						<h2>Reservation Details</h2>

						<a href="#" class="back highlight">Change reservation details</a>

						<h3>Nightclub</h3>
						<p>Hotel Chantelle</p>

						<h3>Date</h3>
						<p>Wed 16 July</p>

						<h3>Table Min.</h3>
						<p>$1500</p>

						<h3>Social Axis Hookup</h3>
						<p>$100</p>

						<h3>Final Cost</h3>
						<p>$1400</p>
					</div>
				</div>
			</div>
		</div>

		<div class="cta">
			<div class="container">
				<a class="button facebook" href="#" title="Sign In with Facebook">Sign In with Facebook</a>
				<p class="hint">...and get instant access</p>
			</div>
		</div>

	</main>

	<footer class="container" role="contentinfo">

		<ul class="social-links">
			<li><a class="icon twitter" href="#" title="View Social Axis on Twitter">Twitter</a></li>
			<li><a class="icon instagram" href="#" title="View Social Axis on Instagram">Instagram</a></li>
			<li><a class="icon facebook" href="#" title="View Social Axis on Facebook">Facebook</a></li>
		</ul>

		<nav role="navigation">
			<ul>
				<li><a href="/about.html" title="About Social Axis">About</a></li>
				<li><a href="/contact-us.html" title="Contact Social Axis">Contact Us</a></li>
				<li><a href="#" title="Sign In with Facebook">Sign In</a></li>
			</ul>
		</nav>

		<a class="logo" href="#"><img src="images/social-axis-logo.png" alt="Social Axis" /></a>
		<small>Copyright &copy; <time datetime="2014">2014</time> <a href="#">Social Axis</a></small>
	</footer>

	<script src="js/third-party/jquery-1.11.1.min.js"></script>
	<script src="js/third-party/retina.min.js"></script>
	<script src="js/scripts.js"></script>

</body>
</html>
