<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<title>Social Axis</title>

	<link href="css/styles.css" rel="stylesheet">
	<!--[if lt IE 10]>
		<link href="css/ie.css" rel="stylesheet">
	<![endif]-->
	<!--[if IE 7]>
		<link href="css/ie7.css" rel="stylesheet">
	<![endif]-->

	<script src="js/third-party/modernizr.min.js"></script>
	<!--[if lt IE 9]>
		<script src="js/third-party/html5shiv-printshiv.min.js"></script>
		<script src="js/third-party/nwmatcher-1.2.5-min.js"></script>
		<script src="js/third-party/selectivizr-min.js"></script>
		<script src="js/third-party/respond.min.js"></script>
	<![endif]-->
</head>
<body class="club interior">

	<header role="banner">
		<nav role="navigation">
			<div class="group container">
				<a class="logo" href="#"><img src="images/social-axis-logo.png" alt="Social Axis" /></a>
				<a href="#links" class="menu" id="menu">Menu</a>
				<div id="links">
					<button id="close-menu" type="button"><i class="icon close">Close<span></span></i></button>
					<ul>
						<li><a class="current" href="/about.html" title="About Social Axis">About</a></li>
						<li><a href="/contact-us.html" title="Contact Social Axis">Contact Us</a></li>
						<li><a class="boxed" href="#" title="Sign In with Facebook">Sign In</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<main id="main" role="main">
		<div class="wrapper">
			<div class="overlay"></div>


			<div class="container">
				<div class="group two-three">
					<div class="card">
						<div class="card-inner">
							<h1>Payment Confirmed</h1>

							<p class="message success">Your card was successfully charged and your Reservation is booked. Have fun!</p>

							<p class="message error">Payment declined.</p>

							<div class="mobile-details">

								<div class="titleset">
									<i class="icon cocktail black"></i>
									<h2>Reservation Details</h2>
								</div>

								<h3>Name</h3>
								<p>Renaldo Webb</p>

								<h3>Nightclub</h3>
								<p>Hotel Chantelle</p>

								<h3>Date</h3>
								<p>Wed 16 July</p>

								<h3>Amount</h3>
								<p>$1400</p>

								<h3>Males</h3>
								<p>1</p>

								<h3>Chicks</h3>
								<p>2</p>

							</div>

							<p class="align-center"><a class="forward highlight" href="#">My reservations</a></p>
						</div>
					</div>

					<div class="infobar box">
						<div class="box-inner">
							<div class="headerset">
								<h2>Reservation Details</h2>
							</div>

							<h3>Name</h3>
							<p>Renaldo Webb</p>

							<h3>Nightclub</h3>
							<p>Hotel Chantelle</p>

							<h3>Date</h3>
							<p>Wed 16 July</p>

							<h3>Amount</h3>
							<p>$1400</p>

							<h3>Males</h3>
							<p>1</p>

							<h3>Chicks</h3>
							<p>2</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="cta">
			<div class="overlay"></div>
		</div>

	</main>

	<footer class="container" role="contentinfo">

		<ul class="social-links">
			<li><a href="#" title="View Social Axis on Twitter"><i class="icon twitter">Twitter<span></span></i></a></li>
			<li><a class="icon instagram" href="#" title="View Social Axis on Instagram"><i class="icon instagram">Instagram<span></span></i></a></li>
			<li><a class="icon facebook" href="#" title="View Social Axis on Facebook"><i class="icon facebook">Facebook<span></span></i></a></li>
		</ul>

		<nav role="navigation">
			<ul>
				<li><a href="/about.html" title="About Social Axis">About</a></li>
				<li><a href="/contact-us.html" title="Contact Social Axis">Contact Us</a></li>
				<li><a href="#" title="Sign In with Facebook">Sign In</a></li>
			</ul>
		</nav>

		<a class="logo" href="#"><img src="images/social-axis-logo.png" alt="Social Axis" /></a>
		<small>Copyright &copy; <time datetime="2014">2014</time> <a href="#">Social Axis</a></small>
	</footer>

	<script src="js/scripts.js"></script>
</body>
</html>
