<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Social Axis</title>

	<link href="css/styles.css" rel="stylesheet">

	<!--[if lt IE 9]>
		<script src="js/third-party/html5shiv-printshiv.min.js"></script>
		<script src="js/third-party/respond.min.js"></script>
	<![endif]-->
</head>
<body>

	<header role="banner">
		<nav role="navigation">
			<div class="group container">
				<a class="logo" href="#"><img src="images/social-axis-logo.png" alt="Social Axis" /></a>
				<a href="#" class="menu" id="menu">Menu</a>
				<ul>
					<li><a class="current" href="/about.html" title="About Social Axis">About</a></li>
					<li><a href="/contact-us.html" title="Contact Social Axis">Contact Us</a></li>
					<li><a class="boxed" href="#" title="Sign In with Facebook">Sign In</a></li>
				</ul>
			</div>
		</nav>
	</header>

	<main role="main">

		<div class="wrapper">
			<div class="container align-center">

				<section class="buttons">

					<h2>Buttons</h2>

					<div class="group">

						<a class="button" href="#" title="Title of button">Button</a>

						<br /><br />

						<a class="button facebook" href="#" title="Title of button">Facebook Button</a>

						<br /><br />

						<div class="button-and-hint">
							<a class="button" href="#" title="Title of button">Button with Hint</a>
							<p class="hint">What does the button do?</p>
						</div>

						<br />

						<a class="button back" href="#" title="Title of button">Back Button</a>

						<br /><br />

						<a class="button forward" href="#" title="Title of button">Next Button</a>

						<br /><br />

						<a class="button submit" href="#" title="Title of button">Submit Button</a>

						<br /><br />

						<a class="button reservation" href="#" title="Title of button">Reservation Button</a>
					</div>
				</section>

				<section class="links">
					<h2>Links</h2>

						<div class="group">
						<a class="back" href="#" title="Title of link">Go back</a>

						<br /><br />

						<a class="forward" href="#" title="Title of link">Learn more</a>

						<br /><br />

						<a class="forward reservation" href="#" title="Title of link">Make a reservation</a>

						<br /><br />
						<a class="forward highlight" href="#">Highlighted (blue override)</a>

						<br /><br />

						<ul class="pagination">
							<li><a class="first" href="#" title="Go to the first page">First</a></li>
							<li><a class="prev" href="#" title="Go to the previous page">Prev</a></li>
							<li><a href="#" title="Go to page 1">1</a></li>
							<li><a class="current "href="#" title="Go to page 2">2</a></li>
							<li><a href="#" title="Go to page 3">3</a></li>
							<li><a href="#" title="Go to page 4">4</a></li>
							<li><a href="#" title="Go to page 5">5</a></li>
							<li><a class="next" href="#" title="Go to the next page">Next</a></li>
							<li><a class="last" href="#" title="Go to the last page">Last</a></li>
						</ul>

					</div>
				</section>

				<section class="icons">
					<h2>Icons</h2>

					<i class="icon swipe"></i>
					<i class="icon lock"></i>
					<i class="icon cocktail"></i>
					<i class="icon social"></i>
					<i class="icon tickets"></i>
					<i class="icon calendar"></i>
					<i class="icon marker"></i>
					<i class="icon phone"></i>
					<i class="icon girl"></i>
					<i class="icon boy"></i>
					<i class="icon party"></i>
					<i class="icon twitter"></i>
					<i class="icon facebook"></i>
					<i class="icon instagram"></i>

					<br /><br />

					<i class="icon blue swipe"></i>
					<i class="icon blue lock"></i>
					<i class="icon blue cocktail"></i>
					<i class="icon blue social"></i>
					<i class="icon blue tickets"></i>
					<i class="icon blue calendar"></i>
					<i class="icon blue marker"></i>
					<i class="icon blue phone"></i>
					<i class="icon blue girl"></i>
					<i class="icon blue boy"></i>
					<i class="icon blue party"></i>
					<i class="icon blue twitter"></i>
					<i class="icon blue facebook"></i>
					<i class="icon blue instagram"></i>
				</section>

				<section class="messages">
					<h2>Messages</h2>

					<p class="success">Success! Something you did worked.</p>

					<br /><br />

					<p class="warning">Warning! Something you did needs attention.</p>

					<br /><br />

					<p class="error">Error! Something didn't go as expected.</p>
				</section>

				<section class="layouts">

					<style>
						/* Used for reference page only, not needed for styles to work */
						.layouts .single,
						.layouts .group > div {
							outline: red solid 1px;
						}
					</style>

					<h2>Layouts</h2>

					<h3>Single</h3>
					<div class="group single">
						Single
					</div>

					<h3>Half</h3>
					<div class="group half">
						<div>Half</div>
						<div>Half</div>
					</div>

					<h3>One Third</h3>
					<div class="group one-three">
						<div>
							Left
						</div>

						<div>
							Right
						</div>
					</div>

					<h3>Two Thirds</h3>
					<div class="group two-three">
						<div>
							Left
						</div>
						<div>
							Right
						</div>
					</div>

					<h3>One Quarter</h3>
					<div class="group one-four">
						<div>
							Left
						</div>

						<div>
							Right
						</div>
					</div>

					<h3>Three Quarters</h3>
					<div class="group three-four">
						<div>
							Left
						</div>

						<div>
							Right
						</div>
					</div>
				</section>
			</div>
		</div>

		<div class="cta">
			<div class="container">
				<a class="button facebook" href="#" title="Sign In with Facebook">Sign In with Facebook</a>
				<p class="hint">...and get instant access</p>
			</div>
		</div>

	</main>

	<footer class="container" role="contentinfo">

		<ul class="social-links">
			<li><a class="icon twitter" href="#" title="View Social Axis on Twitter">Twitter</a></li>
			<li><a class="icon instagram" href="#" title="View Social Axis on Instagram">Instagram</a></li>
			<li><a class="icon facebook" href="#" title="View Social Axis on Facebook">Facebook</a></li>
		</ul>

		<nav role="navigation">
			<ul>
				<li><a href="/about.html" title="About Social Axis">About</a></li>
				<li><a href="/contact-us.html" title="Contact Social Axis">Contact Us</a></li>
				<li><a href="#" title="Sign In with Facebook">Sign In</a></li>
			</ul>
		</nav>

		<a class="logo" href="#"><img src="images/social-axis-logo.png" alt="Social Axis" /></a>
		<small>Copyright &copy; <time datetime="2014">2014</time> <a href="#">Social Axis</a></small>
	</footer>

	<script src="js/third-party/jquery-1.11.1.min.js"></script>
	<script src="js/third-party/retina.min.js"></script>
	<script src="js/scripts.js"></script>

</body>
</html>
