<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<title>Social Axis</title>

	<link href="css/styles.css" rel="stylesheet">
	<!--[if lt IE 10]>
		<link href="css/ie.css" rel="stylesheet">
	<![endif]-->
	<!--[if IE 7]>
		<link href="css/ie7.css" rel="stylesheet">
	<![endif]-->

	<script src="js/third-party/modernizr.min.js"></script>
	<!--[if lt IE 9]>
		<script src="js/third-party/html5shiv-printshiv.min.js"></script>
		<script src="js/third-party/nwmatcher-1.2.5-min.js"></script>
		<script src="js/third-party/selectivizr-min.js"></script>
		<script src="js/third-party/respond.min.js"></script>
	<![endif]-->
</head>
<body class="about">

	<header role="banner">
		<nav role="navigation">
			<div class="group container">
				<a class="logo" href="#"><img src="images/social-axis-logo.png" alt="Social Axis" /></a>
				<a href="#links" class="menu" id="menu">Menu</a>
				<div id="links">
					<button id="close-menu" type="button"><i class="icon close">Close<span></span></i></button>
					<ul>
						<li><a class="current" href="/about.html" title="About Social Axis">About</a></li>
						<li><a href="/contact-us.html" title="Contact Social Axis">Contact Us</a></li>
						<li><a class="boxed" href="#" title="Sign In with Facebook">Sign In</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<div class="banner">
		<div class="overlay"></div>
	</div>

	<main id="main" role="main">

		<div class="wrapper">
			<div class="container">
				<div class="group three-four">
					<div>
						<h1>What is Social Axis?</h1>

						<p>Social Axis connects you to the most exclusive nightclubs in your city, while rewarding you for being socially connected.</p>

						<p>We’re currently in Beta testing and would love feedback or partners. <a href="#" title="Go to the contact form">Contact Us</a> - it could be the start of a great friendship.</p>

						<ul class="feature-list">
							<li><i class="icon social big"></i><a href="#how" title="">How does Social Axis work?</a></li>
							<li><i class="icon cocktail big"></i><a href="#hookup" title="">Huh? I can get a hookup? How?</a></li>
							<li><i class="icon lock big"></i><a href="#privacy" title="">Wait?! What can they see?</a></li>
							<li><i class="icon tickets big"></i><a href="#rewards" title="">So I can get into the coolest clubs at a discount?</a></li>
						</ul>

						<p>Social Axis connects you to the most exclusive nightclubs in your city, while rewarding you for being socially connected.</p>

						<h2 id="how">How does Social Axis Work?</h2>
						<p>By giving you control. Social Axis brings all of the best nightclubs in your city together, and lets you book the table you want. We also work with the nigthclubs to get you hookups as often as possible, making it easier for you to party on your terms.</p>

						<h2 id="hookup">Huh? I can get a hookup? How?</h2>
						<p>Simply put, Social Axis leverages your social network to get exclusive hookups from your favorite clubs. Every picture, follower, or check-in gives them exposure and Social Axis rewards you for that.</p>

						<h2 id="privacy">Wait?! What can they see?</h2>
						<p>Nothing really. Social Axis shares the size of your social influence. Clubs cannot see pictures or status update, but they will know how just how cool you are.</p>

						<h2 id="rewards">So I can get into the coolest clubs at a discount?</h2>
						<p>Not only get. You get in, in style. Sign up Now!</p>

						<hr />

						<ul>
							<li>1</li>
							<li>2</li>
							<li>3</li>
							<li>4</li>
						</ul>

						<ol>
							<li>1</li>
							<li>2</li>
							<li>3</li>
							<li>4</li>
						</ol>

						<h2></h2>
						<h3></h3>

						<p>Lorem <strong>strong</strong> <em>dolor</em> sit amet, consectetur adipiscing elit. Nullam eget arcu iaculis, ultricies tortor et, accumsan dolor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut eget suscipit nisl, sed posuere velit. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>

						<blockquote>
							<p>"A quote nullam eget arcu iaculis, ultricies tortor et, accumsan dolor"</p>
							<cite>- Some guy</cite>
						</blockquote>
					</div>

					<div class="sidebar">
						<img src="images/content/temp1.jpg" alt="Girl in club having a good time" />
						<img src="images/content/temp1.jpg" alt="Girl in club having a good time" />
						<img src="images/content/temp1.jpg" alt="Girl in club having a good time" />
					</div>
				</div>
			</div>
		</div>

		<div class="cta">
			<div class="container">
				<a class="button facebook" href="#" title="Sign In with Facebook">Sign In with Facebook</a>
				<p class="hint">...and get instant access</p>
			</div>

			<div class="overlay"></div>
		</div>

	</main>

	<footer class="container" role="contentinfo">

		<ul class="social-links">
			<li><a href="#" title="View Social Axis on Twitter"><i class="icon twitter">Twitter<span></span></i></a></li>
			<li><a class="icon instagram" href="#" title="View Social Axis on Instagram"><i class="icon instagram">Instagram<span></span></i></a></li>
			<li><a class="icon facebook" href="#" title="View Social Axis on Facebook"><i class="icon facebook">Facebook<span></span></i></a></li>
		</ul>

		<nav role="navigation">
			<ul>
				<li><a href="/about.html" title="About Social Axis">About</a></li>
				<li><a href="/contact-us.html" title="Contact Social Axis">Contact Us</a></li>
				<li><a href="#" title="Sign In with Facebook">Sign In</a></li>
			</ul>
		</nav>

		<a class="logo" href="#"><img src="images/social-axis-logo.png" alt="Social Axis" /></a>
		<small>Copyright &copy; <time datetime="2014">2014</time> <a href="#">Social Axis</a></small>
	</footer>

	<script src="js/scripts.js"></script>
</body>
</html>
