

<div class="container-fluid">
  <div class="row">
    <div class="col-md-7">
      <table class="table table-hover">
        <thead>
          <tr>
             <th>#</th>
            <th>Location</th>
            <th>Table Minimum </th>
            <th>Description</th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <%a = 1 %>

        <tbody>
          <% tables.each do |table| %>
            <tr>
            	<td><%= a %></td>
              <td><%= table.location %></td>
              <td>$<%= table.min_cost %></td>
               
               <td>
                <span class="glyphicon glyphicon-glass"></span> 
                <%= link_to 'Make a reservation', table %></td>
            </tr>

             <%a = a+ 1 %>

          <% end %>
        </tbody>
      </table>

      <br>
    </div>
