
<footer class="footer">
 
  <%= link_to "Social Axis ", root_path %><span class="glyphicon glyphicon-copyright-mark"></span>
    <ul>
      <%= link_to "About ", about_path %>| 
      <%= link_to "Contact Us", new_contact_path %>
    </ul>
  
</footer>
